<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "head" %>
    <%= vite_stylesheet_tag "application" %>
  </head>

  <body style="background-color: #FAFAF9;">
    <%= impersonation_banner %>
    <%= render "flash" %>

    <%# Header with logo - matching background %>
    <header class="px-6 py-4" style="background-color: #FAFAF9;">
      <%= link_to root_path do %>
        <%= render_svg "logo" %>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
