<title>
  <% if content_for?(:title) %>
    <%= yield :title %> |
  <% end %>
  <%= Jumpstart.config.application_name %>
</title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= viewport_meta_tag %>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="<%= Jumpstart.config.application_name %>">

<% if current_user&.system_theme? %>
  <script>document.documentElement.classList.toggle("dark", window.matchMedia('(prefers-color-scheme: dark)').matches)</script>
<% end %>
<%= javascript_importmap_tags %>
<%= stylesheet_link_tag "tailwind", media: "all", "data-turbo-track": "reload" %>

<%# Be sure to add your own custom favicons %>
<%= render "favicons" %>
<%= render "payments_dependencies" %>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

<%= yield :head %>

<%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
<%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) if respond_to?(:pwa_manifest_path) %>
